body {
    font-size: 0.5vw;
    font-family: 'Courier New', Bold;
    margin: 0;
    line-height: 1.6;
}
* {
    box-sizing: border-box;
}

.main {
    background: url("../assets/img/backgroundpower.png") center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
}

.container {
    border: solid 2px black;
    background-size: cover;
    background: #4c4c4c;
    position: fixed;
    margin: 0;
    top: 0;
    width: 100vw;
    height: 11vh;
    z-index: 1000;
}

.logo {
    position: fixed;
    top: 1.5vh;
    left: 2vw;
    height: 8vh;
    width: 8vw;
}

.navigator {
    font-size: 4vh;
    font-family: Impact;
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    display: inline-block;
    margin: 1% 0.1%;
    margin-right: 12%;
    white-space: pre;
    float: right;
}
.navuse {
    font-size: 4vh;
    font-family: Impact;
    color: white;
    text-decoration: underline;
    transition: color 0.3s linear;
    display: inline-block;
    margin: 1% 0.1%;
    margin-right: 12%;
    white-space: pre;
    float: right;
}

.navuse:hover {
    color: #77b3d4;
}

.navigator:hover {
    color: #77b3d4;
}

.logo:hover {
    display: block;
    padding: 4px; 
    text-decoration: none;
    border-bottom: none; 
}

.powercontainer {
    display: block;
    border: solid 2px #4c4c4c;
    border-radius: 15%;
    background: #4c4c4c;
    position: absolute;
    top: 11vw;
    width: 40vw;
    height: 65vh;
    left: 8vw;
    opacity: 0.9;
    transition: opacity 0.4s linear;
}

.powercontainer:hover {
    opacity: 1;
}

.powertitle {
    font-size: 1.5vw;
    font-family: Tahoma;
    color: white;
}

.powertitleb {
    font-size: 1.5vw;
    font-family: Tahoma;
    color: #77b3d4;
}

.powercontainer1 {
    display: block;
    border: solid 2px #4c4c4c;
    border-radius: 15%;
    background: #4c4c4c;
    position: absolute;
    top: 11vw;
    width: 40vw;
    height: 65vh;
    left: 52vw;
    opacity: 0.9;
    transition: opacity 0.4s linear;
}

.powercontainer1:hover {
    opacity: 1;
}

.powertitle1 {
    font-size: 1.5vw;
    font-family: Tahoma;
    color: white;
}

.powertitleb1 {
    font-size: 1.5vw;
    font-family: Tahoma;
    color: #77b3d4;
}

.powertext {
    font-size: 1vw;
    font-family: Tahoma;
    color: white;
    margin-left: 3%;
}

.download {
    display: block;
    border: solid 2px #4c4c4c;
    border-radius: 30%;
    background: #77b3d4;
    top: 90vh;
    width: 20vw;
    height: 6vh;
    margin-left: 10vw;
    text-decoration: none;
}
.dtext {
    font-size: 1.1vw;
    color: white;
    font-family: Impact;
    text-align: center;
}

.download:hover {
    border: solid 2px black;
    padding: 2px;
}

.powerpointimg {
    top: 1.5vh;
    left: 2.5vw;
    height: 35vh;
    width: 35vw;
}